h1 {
    color: #aa3a3a;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p {
    color: #aa3a3a;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#container {

 


height: 640.1px;
width: 640.2px;

margin: auto;
background-color: #495464;

}

.box {

    background-color: #e8e8e8;
    float: left;
}

button {

  
  padding: 10px;
  background-color: #e8e8e8;
  border: none;
  width: 150px;
  color: #aa3a3a;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 10px;

}
footer{

    margin: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
button:hover {

    border: 1px solid #aa3a3a;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {

    box-shadow: 0 2px #495464;
    
}